.gallery {
    padding-bottom: 94px;
    &__container {
        padding-left: 10px;
        padding-right: 10px;
        @media (min-width: 1024px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        height: auto;
        min-height: 350px;
    }
    &__img {
        min-height: 100%;
        cursor: pointer;
    }
    &__modal {
        img {
            width: 30%;
            @media (max-width: 768px) {
                width: 40%;
            }
            @media (max-width: 590px) {
                width: 50%;
            }
            @media (max-width: 450px) {
                width: 60%;
            }
        }
    }
}